### Merging data

In [1]:
# import modules

import numpy as np
import pandas as pd

In [3]:
# import zipcodes
zipcode = pd.read_csv("data/zipfips.csv")
zipcode.head()

,Unnamed: 0,zipcode,latitude,longitude,city,state,county,fips
0,0,501,40.922326,-72.637078,Holtsville,NY,Suffolk,36103.0
1,1,544,40.922326,-72.637078,Holtsville,NY,Suffolk,NaN
2,2,601,18.165273,-66.722583,Adjuntas,PR,Adjuntas,72001.0
3,3,601,18.165273,-66.722583,Adjuntas,PR,Adjuntas,72113.0
4,4,602,18.393103,-67.180953,Aguada,PR,Aguada,72003.0

In [4]:
# function for data files

def imp_acsdf(num, samp ):
    dfname = "df" + num 
    print("Dataframe Name is: %s" % dfname)
    if samp == False:
        dfname = pd.read_csv("./data/ACS_16_5YR_DP" + num + "_with_ann.csv",skiprows=[1], low_memory=False)
    else:
        dfname = pd.read_csv("./data/ACS_16_5YR_DP" + num + "_with_ann.csv", nrows = 1000, skiprows=[1] )
    print (dfname.shape)
    return dfname

In [5]:
# function for meta files

def imp_acsmeta(num ):

    metaname = "meta" + num

    print("MetaData Name is: %s" % metaname)
    metaname = pd.read_csv("./data/ACS_16_5YR_DP" + num + "_metadata.csv", header=None, index_col = 0 )
    print(metaname.shape)
    return metaname

In [6]:
dict_df = {}
dict_meta={}

for i in range(4):
    numstr = "0" + str(i+2)

    key_namedf = "df" + numstr     

    dict_df[key_namedf] = imp_acsdf(num = numstr, samp = False) # change to false to import all data

    key_namemeta = "meta" + numstr    

    dict_meta[key_namemeta] = imp_acsmeta(num = numstr)
       

dict_df.keys()

Dataframe Name is: df02
(32989, 611)
MetaData Name is: meta02
(611, 1)
Dataframe Name is: df03
(33120, 551)
MetaData Name is: meta03
(551, 1)
Dataframe Name is: df04
(33120, 575)
MetaData Name is: meta04
(575, 1)
Dataframe Name is: df05
(33120, 339)
MetaData Name is: meta05
(339, 1)

dict_keys(['df02', 'df03', 'df04', 'df05'])

In [7]:
# add df and meta to dict
df02 = dict_df['df02']
df03 = dict_df['df03']
df04 = dict_df['df04']
df05 = dict_df['df05']
meta02 = dict_meta['meta02'].to_dict()[1]
meta03 = dict_meta['meta03'].to_dict()[1]
meta04 = dict_meta['meta04'].to_dict()[1]
meta05 = dict_meta['meta05'].to_dict()[1]

In [8]:
# function to extact estimates
def extract_Est(df):
    df = df[df.columns.drop(list(df.filter(regex='HC02')))]
    df = df[df.columns.drop(list(df.filter(regex='HC03')))]
    df = df[df.columns.drop(list(df.filter(regex='HC04')))]
    return df

In [9]:
# Extract only the estimates in df which all start with 'HCO1'
df02 = extract_Est(df02)
df03 = extract_Est(df03)
df04 = extract_Est(df04)
df05 = extract_Est(df05)

In [10]:
# Function to extract meaningful categories from variable names
def extract_catdf(df, dname, dno):
    df = pd.DataFrame.from_dict(df,  orient='index')
    df = df.rename_axis('v').reset_index().rename(columns={0:'detail'})
    df =df.iloc[3:] 
    df['type'] = df.detail.str.split(';').str[0]
    df['cat0'] = dname 
    df['cat1'] = df.detail.str.split(';').str[1].str.split('-',1).str[0].str.strip()
    df['cat2'] = df.detail.str.split(';').str[1].str.split('-',1).str[1].str.strip()
    df['vname'] = dno + df.v
    
    return df

In [11]:
# name categories extracted from variable names
m02 = extract_catdf(meta02, "Social", "02")
m03 = extract_catdf(meta03, "Economic","03")
m04 = extract_catdf(meta04, "Housing","04")
m05 = extract_catdf(meta05 , "Demographic","05")

In [12]:
# concatenate meta categories
meta = pd.concat([m02, m03, m04, m05], ignore_index=True)

In [13]:
print(meta.type.unique())
print(meta.cat0.unique())
print(meta.cat1.unique())
print(meta.cat2.unique())
print(meta.cat3.unique())

['Estimate' 'Margin of Error' 'Percent' 'Percent Margin of Error']
['Social' 'Economic' 'Housing' 'Demographic']
['HOUSEHOLDS BY TYPE' 'RELATIONSHIP' 'MARITAL STATUS' 'FERTILITY'
 'GRANDPARENTS' 'SCHOOL ENROLLMENT' 'EDUCATIONAL ATTAINMENT'
 'VETERAN STATUS'
 'DISABILITY STATUS OF THE CIVILIAN NONINSTITUTIONALIZED POPULATION'
 'RESIDENCE 1 YEAR AGO' 'PLACE OF BIRTH' 'U.S. CITIZENSHIP STATUS'
 'YEAR OF ENTRY' 'WORLD REGION OF BIRTH OF FOREIGN BORN'
 'LANGUAGE SPOKEN AT HOME' 'ANCESTRY' 'COMPUTERS AND INTERNET USE'
 'EMPLOYMENT STATUS' 'COMMUTING TO WORK' 'OCCUPATION' 'INDUSTRY'
 'CLASS OF WORKER' 'INCOME AND BENEFITS (IN 2016 INFLATION'
 'HEALTH INSURANCE COVERAGE'
 'PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL'
 'HOUSING OCCUPANCY' 'UNITS IN STRUCTURE' 'YEAR STRUCTURE BUILT' 'ROOMS'
 'BEDROOMS' 'HOUSING TENURE' 'YEAR HOUSEHOLDER MOVED INTO UNIT'
 'VEHICLES AVAILABLE' 'HOUSE HEATING FUEL' 'SELECTED CHARACTERISTICS'
 'OCCUPANTS PER ROOM' 'VALUE' 'MORTGAGE STATUS'
 'SELECTED MONTHLY OWNER COSTS (SMOC)'
 'SELECTED MONTHLY OWNER COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME (SMOCAPI)'
 'GROSS RENT' 'GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME (GRAPI)'
 'SEX AND AGE' 'RACE' 'HISPANIC OR LATINO AND RACE'
 'CITIZEN, VOTING AGE POPULATION']
['Total households' 'Total households - Family households (families)'
 'Total households - Family households (families) - With own children of the householder under 18 years'
 'Total households - Family households (families) - Married-couple family'
 'Total households - Family households (families) - Married-couple family - With own children of the householder under 18 years'
 'Total households - Family households (families) - Male householder, no wife present, family'
 'Total households - Family households (families) - Male householder, no wife present, family - With own children of the householder under 18 years'
 'Total households - Family households (families) - Female householder, no husband present, family'
 'Total households - Family households (families) - Female householder, no husband present, family - With own children of the householder under 18 years'
 'Total households - Nonfamily households'
 'Total households - Nonfamily households - Householder living alone'
 'Total households - Nonfamily households - Householder living alone - 65 years and over'
 'Households with one or more people under 18 years'
 'Households with one or more people 65 years and over'
 'Average household size' 'Average family size' 'Population in households'
 'Population in households - Householder'
 'Population in households - Spouse' 'Population in households - Child'
 'Population in households - Other relatives'
 'Population in households - Nonrelatives'
 'Population in households - Nonrelatives - Unmarried partner'
 'Males 15 years and over' 'Males 15 years and over - Never married'
 'Males 15 years and over - Now married, except separated'
 'Males 15 years and over - Separated' 'Males 15 years and over - Widowed'
 'Males 15 years and over - Divorced' 'Females 15 years and over'
 'Females 15 years and over - Never married'
 'Females 15 years and over - Now married, except separated'
 'Females 15 years and over - Separated'
 'Females 15 years and over - Widowed'
 'Females 15 years and over - Divorced'
 'Number of women 15 to 50 years old who had a birth in the past 12 months'
 'Number of women 15 to 50 years old who had a birth in the past 12 months - Unmarried women (widowed, divorced, and never married)'
 'Number of women 15 to 50 years old who had a birth in the past 12 months - Unmarried women (widowed, divorced, and never married) - Per 1,000 unmarried women'
 'Number of women 15 to 50 years old who had a birth in the past 12 months - Per 1,000 women 15 to 50 years old'
 'Number of women 15 to 50 years old who had a birth in the past 12 months - Per 1,000 women 15 to 19 years old'
 'Number of women 15 to 50 years old who had a birth in the past 12 months - Per 1,000 women 20 to 34 years old'
 'Number of women 15 to 50 years old who had a birth in the past 12 months - Per 1,000 women 35 to 50 years old'
 'Number of grandparents living with own grandchildren under 18 years'
 'Number of grandparents living with own grandchildren under 18 years - Grandparents responsible for grandchildren'
 'Number of grandparents living with own grandchildren under 18 years - Years responsible for grandchildren - Less than 1 year'
 'Number of grandparents living with own grandchildren under 18 years - Years responsible for grandchildren - 1 or 2 years'
 'Number of grandparents living with own grandchildren under 18 years - Years responsible for grandchildren - 3 or 4 years'
 'Number of grandparents living with own grandchildren under 18 years - Years responsible for grandchildren - 5 or more years'
 'Number of grandparents responsible for own grandchildren under 18 years'
 'Number of grandparents responsible for own grandchildren under 18 years - Who are female'
 'Number of grandparents responsible for own grandchildren under 18 years - Who are married'
 'Population 3 years and over enrolled in school'
 'Population 3 years and over enrolled in school - Nursery school, preschool'
 'Population 3 years and over enrolled in school - Kindergarten'
 'Population 3 years and over enrolled in school - Elementary school (grades 1-8)'
 'Population 3 years and over enrolled in school - High school (grades 9-12)'
 'Population 3 years and over enrolled in school - College or graduate school'
 'Population 25 years and over'
 'Population 25 years and over - Less than 9th grade'
 'Population 25 years and over - 9th to 12th grade, no diploma'
 'Population 25 years and over - High school graduate (includes equivalency)'
 'Population 25 years and over - Some college, no degree'
 "Population 25 years and over - Associate's degree"
 "Population 25 years and over - Bachelor's degree"
 'Population 25 years and over - Graduate or professional degree'
 'Percent high school graduate or higher'
 "Percent bachelor's degree or higher"
 'Civilian population 18 years and over'
 'Civilian population 18 years and over - Civilian veterans'
 'Total Civilian Noninstitutionalized Population'
 'Total Civilian Noninstitutionalized Population - With a disability'
 'Under 18 years' 'Under 18 years - With a disability' '18 to 64 years'
 '18 to 64 years - With a disability' '65 years and over'
 '65 years and over - With a disability' 'Population 1 year and over'
 'Population 1 year and over - Same house'
 'Population 1 year and over - Different house in the U.S.'
 'Population 1 year and over - Different house in the U.S. - Same county'
 'Population 1 year and over - Different house in the U.S. - Different county'
 'Population 1 year and over - Different house in the U.S. - Different county - Same state'
 'Population 1 year and over - Different house in the U.S. - Different county - Different state'
 'Population 1 year and over - Abroad' 'Total population'
 'Total population - Native'
 'Total population - Native - Born in United States'
 'Total population - Native - Born in United States - State of residence'
 'Total population - Native - Born in United States - Different state'
 'Total population - Native - Born in Puerto Rico, U.S. Island areas, or born abroad to American parent(s)'
 'Total population - Foreign born' 'Foreign-born population'
 'Foreign-born population - Naturalized U.S. citizen'
 'Foreign-born population - Not a U.S. citizen'
 'Population born outside the United States' 'Native'
 'Native - Entered 2010 or later' 'Native - Entered before 2010'
 'Foreign born' 'Foreign born - Entered 2010 or later'
 'Foreign born - Entered before 2010'
 'Foreign-born population, excluding population born at sea'
 'Foreign-born population, excluding population born at sea - Europe'
 'Foreign-born population, excluding population born at sea - Asia'
 'Foreign-born population, excluding population born at sea - Africa'
 'Foreign-born population, excluding population born at sea - Oceania'
 'Foreign-born population, excluding population born at sea - Latin America'
 'Foreign-born population, excluding population born at sea - Northern America'
 'Population 5 years and over'
 'Population 5 years and over - English only'
 'Population 5 years and over - Language other than English'
 'Population 5 years and over - Language other than English - Speak English less than "very well"'
 'Population 5 years and over - Spanish'
 'Population 5 years and over - Spanish - Speak English less than "very well"'
 'Population 5 years and over - Other Indo-European languages'
 'Population 5 years and over - Other Indo-European languages - Speak English less than "very well"'
 'Population 5 years and over - Asian and Pacific Islander languages'
 'Population 5 years and over - Asian and Pacific Islander languages - Speak English less than "very well"'
 'Population 5 years and over - Other languages'
 'Population 5 years and over - Other languages - Speak English less than "very well"'
 'Total population - American' 'Total population - Arab'
 'Total population - Czech' 'Total population - Danish'
 'Total population - Dutch' 'Total population - English'
 'Total population - French (except Basque)'
 'Total population - French Canadian' 'Total population - German'
 'Total population - Greek' 'Total population - Hungarian'
 'Total population - Irish' 'Total population - Italian'
 'Total population - Lithuanian' 'Total population - Norwegian'
 'Total population - Polish' 'Total population - Portuguese'
 'Total population - Russian' 'Total population - Scotch-Irish'
 'Total population - Scottish' 'Total population - Slovak'
 'Total population - Subsaharan African' 'Total population - Swedish'
 'Total population - Swiss' 'Total population - Ukrainian'
 'Total population - Welsh'
 'Total population - West Indian (excluding Hispanic origin groups)'
 'Total households - With a computer'
 'Total households - With a broadband Internet subscription'
 'Population 16 years and over'
 'Population 16 years and over - In labor force'
 'Population 16 years and over - In labor force - Civilian labor force'
 'Population 16 years and over - In labor force - Civilian labor force - Employed'
 'Population 16 years and over - In labor force - Civilian labor force - Unemployed'
 'Population 16 years and over - In labor force - Armed Forces'
 'Population 16 years and over - Not in labor force'
 'Civilian labor force' 'Civilian labor force - Unemployment Rate'
 'Females 16 years and over' 'Females 16 years and over - In labor force'
 'Females 16 years and over - In labor force - Civilian labor force'
 'Females 16 years and over - In labor force - Civilian labor force - Employed'
 'Own children of the householder under 6 years'
 'Own children of the householder under 6 years - All parents in family in labor force'
 'Own children of the householder 6 to 17 years'
 'Own children of the householder 6 to 17 years - All parents in family in labor force'
 'Workers 16 years and over'
 'Workers 16 years and over - Car, truck, or van -- drove alone'
 'Workers 16 years and over - Car, truck, or van -- carpooled'
 'Workers 16 years and over - Public transportation (excluding taxicab)'
 'Workers 16 years and over - Walked'
 'Workers 16 years and over - Other means'
 'Workers 16 years and over - Worked at home'
 'Mean travel time to work (minutes)'
 'Civilian employed population 16 years and over'
 'Civilian employed population 16 years and over - Management, business, science, and arts occupations'
 'Civilian employed population 16 years and over - Service occupations'
 'Civilian employed population 16 years and over - Sales and office occupations'
 'Civilian employed population 16 years and over - Natural resources, construction, and maintenance occupations'
 'Civilian employed population 16 years and over - Production, transportation, and material moving occupations'
 'Civilian employed population 16 years and over - Agriculture, forestry, fishing and hunting, and mining'
 'Civilian employed population 16 years and over - Construction'
 'Civilian employed population 16 years and over - Manufacturing'
 'Civilian employed population 16 years and over - Wholesale trade'
 'Civilian employed population 16 years and over - Retail trade'
 'Civilian employed population 16 years and over - Transportation and warehousing, and utilities'
 'Civilian employed population 16 years and over - Information'
 'Civilian employed population 16 years and over - Finance and insurance, and real estate and rental and leasing'
 'Civilian employed population 16 years and over - Professional, scientific, and management, and administrative and waste management services'
 'Civilian employed population 16 years and over - Educational services, and health care and social assistance'
 'Civilian employed population 16 years and over - Arts, entertainment, and recreation, and accommodation and food services'
 'Civilian employed population 16 years and over - Other services, except public administration'
 'Civilian employed population 16 years and over - Public administration'
 'Civilian employed population 16 years and over - Private wage and salary workers'
 'Civilian employed population 16 years and over - Government workers'
 'Civilian employed population 16 years and over - Self-employed in own not incorporated business workers'
 'Civilian employed population 16 years and over - Unpaid family workers'
 'ADJUSTED DOLLARS) - Total households'
 'ADJUSTED DOLLARS) - Total households - Less than $10,000'
 'ADJUSTED DOLLARS) - Total households - $10,000 to $14,999'
 'ADJUSTED DOLLARS) - Total households - $15,000 to $24,999'
 'ADJUSTED DOLLARS) - Total households - $25,000 to $34,999'
 'ADJUSTED DOLLARS) - Total households - $35,000 to $49,999'
 'ADJUSTED DOLLARS) - Total households - $50,000 to $74,999'
 'ADJUSTED DOLLARS) - Total households - $75,000 to $99,999'
 'ADJUSTED DOLLARS) - Total households - $100,000 to $149,999'
 'ADJUSTED DOLLARS) - Total households - $150,000 to $199,999'
 'ADJUSTED DOLLARS) - Total households - $200,000 or more'
 'ADJUSTED DOLLARS) - Total households - Median household income (dollars)'
 'ADJUSTED DOLLARS) - Total households - Mean household income (dollars)'
 'ADJUSTED DOLLARS) - With earnings'
 'ADJUSTED DOLLARS) - With earnings - Mean earnings (dollars)'
 'ADJUSTED DOLLARS) - With Social Security'
 'ADJUSTED DOLLARS) - With Social Security - Mean Social Security income (dollars)'
 'ADJUSTED DOLLARS) - With retirement income'
 'ADJUSTED DOLLARS) - With retirement income - Mean retirement income (dollars)'
 'ADJUSTED DOLLARS) - With Supplemental Security Income'
 'ADJUSTED DOLLARS) - With Supplemental Security Income - Mean Supplemental Security Income (dollars)'
 'ADJUSTED DOLLARS) - With cash public assistance income'
 'ADJUSTED DOLLARS) - With cash public assistance income - Mean cash public assistance income (dollars)'
 'ADJUSTED DOLLARS) - With Food Stamp/SNAP benefits in the past 12 months'
 'ADJUSTED DOLLARS) - Families'
 'ADJUSTED DOLLARS) - Families - Less than $10,000'
 'ADJUSTED DOLLARS) - Families - $10,000 to $14,999'
 'ADJUSTED DOLLARS) - Families - $15,000 to $24,999'
 'ADJUSTED DOLLARS) - Families - $25,000 to $34,999'
 'ADJUSTED DOLLARS) - Families - $35,000 to $49,999'
 'ADJUSTED DOLLARS) - Families - $50,000 to $74,999'
 'ADJUSTED DOLLARS) - Families - $75,000 to $99,999'
 'ADJUSTED DOLLARS) - Families - $100,000 to $149,999'
 'ADJUSTED DOLLARS) - Families - $150,000 to $199,999'
 'ADJUSTED DOLLARS) - Families - $200,000 or more'
 'ADJUSTED DOLLARS) - Families - Median family income (dollars)'
 'ADJUSTED DOLLARS) - Families - Mean family income (dollars)'
 'ADJUSTED DOLLARS) - Per capita income (dollars)'
 'ADJUSTED DOLLARS) - Nonfamily households'
 'ADJUSTED DOLLARS) - Nonfamily households - Median nonfamily income (dollars)'
 'ADJUSTED DOLLARS) - Nonfamily households - Mean nonfamily income (dollars)'
 'ADJUSTED DOLLARS) - Median earnings for workers (dollars)'
 'ADJUSTED DOLLARS) - Median earnings for male full-time, year-round workers (dollars)'
 'ADJUSTED DOLLARS) - Median earnings for female full-time, year-round workers (dollars)'
 'Civilian noninstitutionalized population'
 'Civilian noninstitutionalized population - With health insurance coverage'
 'Civilian noninstitutionalized population - With health insurance coverage - With private health insurance'
 'Civilian noninstitutionalized population - With health insurance coverage - With public coverage'
 'Civilian noninstitutionalized population - No health insurance coverage'
 'Civilian noninstitutionalized population under 18 years'
 'Civilian noninstitutionalized population under 18 years - No health insurance coverage'
 'Civilian noninstitutionalized population 18 to 64 years'
 'Civilian noninstitutionalized population 18 to 64 years - In labor force:'
 'Civilian noninstitutionalized population 18 to 64 years - In labor force: - Employed:'
 'Civilian noninstitutionalized population 18 to 64 years - In labor force: - Employed: - With health insurance coverage'
 'Civilian noninstitutionalized population 18 to 64 years - In labor force: - Employed: - With health insurance coverage - With private health insurance'
 'Civilian noninstitutionalized population 18 to 64 years - In labor force: - Employed: - With health insurance coverage - With public coverage'
 'Civilian noninstitutionalized population 18 to 64 years - In labor force: - Employed: - No health insurance coverage'
 'Civilian noninstitutionalized population 18 to 64 years - In labor force: - Unemployed:'
 'Civilian noninstitutionalized population 18 to 64 years - In labor force: - Unemployed: - With health insurance coverage'
 'Civilian noninstitutionalized population 18 to 64 years - In labor force: - Unemployed: - With health insurance coverage - With private health insurance'
 'Civilian noninstitutionalized population 18 to 64 years - In labor force: - Unemployed: - With health insurance coverage - With public coverage'
 'Civilian noninstitutionalized population 18 to 64 years - In labor force: - Unemployed: - No health insurance coverage'
 'Civilian noninstitutionalized population 18 to 64 years - Not in labor force:'
 'Civilian noninstitutionalized population 18 to 64 years - Not in labor force: - With health insurance coverage'
 'Civilian noninstitutionalized population 18 to 64 years - Not in labor force: - With health insurance coverage - With private health insurance'
 'Civilian noninstitutionalized population 18 to 64 years - Not in labor force: - With health insurance coverage - With public coverage'
 'Civilian noninstitutionalized population 18 to 64 years - Not in labor force: - No health insurance coverage'
 'All families'
 'All families - With related children of the householder under 18 years'
 'All families - With related children of the householder under 18 years - With related children of the householder under 5 years only'
 'Married couple families'
 'Married couple families - With related children of the householder under 18 years'
 'Married couple families - With related children of the householder under 18 years - With related children of the householder under 5 years only'
 'Families with female householder, no husband present'
 'Families with female householder, no husband present - With related children of the householder under 18 years'
 'Families with female householder, no husband present - With related children of the householder under 18 years - With related children of the householder under 5 years only'
 'All people' 'All people - Under 18 years'
 'All people - Under 18 years - Related children of the householder under 18 years'
 'All people - Under 18 years - Related children of the householder under 18 years - Related children of the householder under 5 years'
 'All people - Under 18 years - Related children of the householder under 18 years - Related children of the householder 5 to 17 years'

AttributeError: 'DataFrame' object has no attribute 'cat3'

In [15]:
meta = meta[meta.type == 'Estimate']

In [16]:
def rename_cols(df, num):
    cols = df.columns[~df.columns.str.contains('GEO')]
    df.rename(columns = dict(zip(cols, num + cols )), inplace=True)
    return df

In [17]:
df02 = rename_cols(df02,'02')
df03 = rename_cols(df03,'03')
df04 = rename_cols(df04,'04')
df05 = rename_cols(df05,'05')

In [18]:
# merge data files with zipcodes
print(zipcode.shape)
df = pd.merge(left=zipcode, right=df02, right_on='GEO.id2', left_on='zipcode', how = 'left')
print(df.shape)
df = pd.merge(left=df, right=df03, right_on='GEO.id2', left_on='zipcode', how = 'left')
print(df.shape)
df = pd.merge(left=df, right=df04, right_on='GEO.id2', left_on='zipcode', how = 'left')
print(df.shape)
df = pd.merge(left=df, right=df05, right_on='GEO.id2', left_on='zipcode', how = 'left')
print(df.shape)

(57163, 8)
(57163, 163)
(57163, 303)
(57163, 449)
(57163, 536)

In [19]:
df.head()

,Unnamed: 0,zipcode,latitude,longitude,city,state,county,fips,GEO.id_x,GEO.id2_x,...,05HC01_VC97,05HC01_VC98,05HC01_VC99,05HC01_VC100,05HC01_VC101,05HC01_VC102,05HC01_VC104,05HC01_VC108,05HC01_VC109,05HC01_VC110
0,0,501,40.922326,-72.637078,Holtsville,NY,Suffolk,36103.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,544,40.922326,-72.637078,Holtsville,NY,Suffolk,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,601,18.165273,-66.722583,Adjuntas,PR,Adjuntas,72001.0,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,7290.0,13646.0,6573.0,7073.0
3,3,601,18.165273,-66.722583,Adjuntas,PR,Adjuntas,72113.0,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,7290.0,13646.0,6573.0,7073.0
4,4,602,18.393103,-67.180953,Aguada,PR,Aguada,72003.0,NaN,NaN,...,59.0,0.0,31.0,960.0,32.0,928.0,17312.0,31048.0,15156.0,15892.0

In [20]:
meta.head()

,v,detail,type,cat0,cat1,cat2,vname
0,HC01_VC03,Estimate; HOUSEHOLDS BY TYPE - Total households,Estimate,Social,HOUSEHOLDS BY TYPE,Total households,02HC01_VC03
4,HC01_VC04,Estimate; HOUSEHOLDS BY TYPE - Total household...,Estimate,Social,HOUSEHOLDS BY TYPE,Total households - Family households (families),02HC01_VC04
8,HC01_VC05,Estimate; HOUSEHOLDS BY TYPE - Total household...,Estimate,Social,HOUSEHOLDS BY TYPE,Total households - Family households (families...,02HC01_VC05
12,HC01_VC06,Estimate; HOUSEHOLDS BY TYPE - Total household...,Estimate,Social,HOUSEHOLDS BY TYPE,Total households - Family households (families...,02HC01_VC06
16,HC01_VC07,Estimate; HOUSEHOLDS BY TYPE - Total household...,Estimate,Social,HOUSEHOLDS BY TYPE,Total households - Family households (families...,02HC01_VC07

In [21]:
# save df and meta to csv
df.to_csv("./data/df.csv")
meta.to_csv("./data/meta.csv")

### Cleaning data

In [22]:
# function to group data
def group_data(df, geo = 'country'):
    if geo == 'country':
        df
    elif geo == 'state':
        df = df.groupby("state").sum()
    elif geo == 'county':
        df = df.groupby(["state", "county"]).sum()
    elif geo == 'city':
        df = df.groupby(["state", "county", "city"]).sum()
    return df

In [23]:
grouped_data = group_data(df, geo = 'city')
grouped_data.head()

                                 Unnamed: 0  zipcode   latitude   longitude  \
state county         city
AK    Aleutians East Akutan           56926    99553  55.430594 -162.558130
                     Cold Bay         56941    99571  55.650875 -160.654522
                     False Pass       56952    99583  55.430594 -162.558130
                     King Cove        56972    99612  55.430594 -162.558130
                     Sand Point       57014    99661  55.350356 -160.485506

                                   fips  GEO.id2_x  02HC01_VC03  02HC01_VC04  \
state county         city
AK    Aleutians East Akutan      2013.0    99553.0         54.0         27.0
                     Cold Bay    2013.0    99571.0         52.0         25.0
                     False Pass  2013.0    99583.0         31.0         15.0
                     King Cove   2013.0    99612.0        246.0        169.0
                     Sand Point  2013.0    99661.0        405.0        263.0

                                 02HC01_VC05  02HC01_VC06      ...       \
state county         city                                      ...
AK    Aleutians East Akutan              8.0         18.0      ...
                     Cold Bay            4.0         23.0      ...
                     False Pass          6.0          6.0      ...
                     King Cove          77.0        113.0      ...
                     Sand Point        140.0        138.0      ...

                                 05HC01_VC97  05HC01_VC98  05HC01_VC99  \
state county         city
AK    Aleutians East Akutan            297.0         22.0          0.0
                     Cold Bay            0.0          0.0          0.0
                     False Pass          4.0          0.0          0.0
                     King Cove         379.0          4.0          0.0
                     Sand Point        292.0         10.0          0.0

                                 05HC01_VC100  05HC01_VC101  05HC01_VC102  \
state county         city
AK    Aleutians East Akutan              13.0           0.0          13.0
                     Cold Bay             3.0           0.0           3.0
                     False Pass           0.0           0.0           0.0
                     King Cove           49.0           0.0          49.0
                     Sand Point          86.0           0.0          86.0

                                 05HC01_VC104  05HC01_VC108  05HC01_VC109  \
state county         city
AK    Aleutians East Akutan              62.0         367.0         260.0
                     Cold Bay           106.0         102.0          56.0
                     False Pass          47.0          44.0          28.0
                     King Cove          295.0         671.0         439.0
                     Sand Point         472.0         782.0         491.0

                                 05HC01_VC110
state county         city
AK    Aleutians East Akutan             107.0
                     Cold Bay            46.0
                     False Pass          16.0
                     King Cove          232.0
                     Sand Point         291.0

[5 rows x 463 columns]

In [24]:
meta['level1'] = meta.cat2.str.split('-',1).str[0].str.strip()
meta['level2'] = meta.cat2.str.split('-',1).str[1].str.strip()
meta['level3'] = meta.level2.str.split('-',1).str[1].str.strip()

In [25]:
meta.head()

,v,detail,type,cat0,cat1,cat2,vname,level1,level2,level3
0,HC01_VC03,Estimate; HOUSEHOLDS BY TYPE - Total households,Estimate,Social,HOUSEHOLDS BY TYPE,Total households,02HC01_VC03,Total households,NaN,NaN
4,HC01_VC04,Estimate; HOUSEHOLDS BY TYPE - Total household...,Estimate,Social,HOUSEHOLDS BY TYPE,Total households - Family households (families),02HC01_VC04,Total households,Family households (families),NaN
8,HC01_VC05,Estimate; HOUSEHOLDS BY TYPE - Total household...,Estimate,Social,HOUSEHOLDS BY TYPE,Total households - Family households (families...,02HC01_VC05,Total households,Family households (families) - With own childr...,With own children of the householder under 18 ...
12,HC01_VC06,Estimate; HOUSEHOLDS BY TYPE - Total household...,Estimate,Social,HOUSEHOLDS BY TYPE,Total households - Family households (families...,02HC01_VC06,Total households,Family households (families) - Married-couple ...,Married-couple family
16,HC01_VC07,Estimate; HOUSEHOLDS BY TYPE - Total household...,Estimate,Social,HOUSEHOLDS BY TYPE,Total households - Family households (families...,02HC01_VC07,Total households,Family households (families) - Married-couple ...,Married-couple family - With own children of t...

In [26]:
df.describe()

,Unnamed: 0,zipcode,latitude,longitude,fips,GEO.id2_x,02HC01_VC03,02HC01_VC04,02HC01_VC05,02HC01_VC06,...,05HC01_VC97,05HC01_VC98,05HC01_VC99,05HC01_VC100,05HC01_VC101,05HC01_VC102,05HC01_VC104,05HC01_VC108,05HC01_VC109,05HC01_VC110
count,57163.000000,57163.000000,56436.000000,56436.000000,53467.000000,46965.000000,46965.000000,46965.000000,46965.000000,46965.000000,...,47257.000000,47257.000000,47257.000000,47257.000000,47257.000000,47257.000000,47257.000000,47257.000000,47257.000000,47257.000000
mean,28581.000000,49268.873275,38.509356,-90.433289,29998.783960,49672.259023,3436.436325,2286.384329,980.683041,1690.494262,...,414.075989,12.139260,18.159976,200.061218,7.695177,192.366041,3990.069111,6723.684153,3256.909537,3466.774615
std,16501.681056,26640.371876,5.302350,15.269060,15518.847622,25677.868428,4936.433948,3278.631393,1532.780859,2408.296240,...,1783.291993,135.337163,99.203722,436.743299,31.716741,423.807535,5547.377237,9496.737857,4550.462611,4967.558927
min,0.000000,501.000000,-7.209975,-176.787412,1001.000000,1001.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,14290.500000,28063.000000,35.124321,-96.671008,18065.000000,29135.000000,333.000000,230.000000,78.000000,182.000000,...,0.000000,0.000000,0.000000,4.000000,0.000000,3.000000,440.000000,668.000000,336.000000,328.000000
50%,28581.000000,48867.000000,39.109550,-88.055804,29173.000000,49769.000000,1130.000000,780.000000,291.000000,607.000000,...,7.000000,0.000000,0.000000,36.000000,0.000000,35.000000,1421.000000,2273.000000,1135.000000,1136.000000
75%,42871.500000,70649.000000,41.873852,-80.734879,42063.000000,68929.000000,4412.000000,2987.000000,1205.000000,2176.000000,...,109.000000,0.000000,4.000000,194.000000,0.000000,188.000000,5263.000000,8905.000000,4350.000000,4548.000000
max,57162.000000,99950.000000,70.494693,166.410291,78030.000000,99929.000000,42783.000000,27649.000000,16999.000000,22827.000000,...,60407.000000,15389.000000,11889.000000,15479.000000,1792.000000,15305.000000,48196.000000,78545.000000,35405.000000,43140.000000

In [27]:
df.select_dtypes(include=['object']).columns

Index(['city', 'state', 'county', 'GEO.id_x', 'GEO.display-label_x',
       '02HC01_VC21', '02HC01_VC22', '02HC01_VC52', '02HC01_VC53',
       '02HC01_VC54', '02HC01_VC55', '02HC01_VC56', '02HC01_VC57',
       '02HC01_VC58', '02HC01_VC95', '02HC01_VC96', '02HC01_VC216',
       '02HC01_VC217', '02HC01_VC218', 'GEO.id_y', 'GEO.display-label_y',
       '03HC01_VC12', '03HC01_VC36', '03HC01_VC85', '03HC01_VC86',
       '03HC01_VC90', '03HC01_VC92', '03HC01_VC94', '03HC01_VC98',
       '03HC01_VC100', '03HC01_VC114', '03HC01_VC115', '03HC01_VC118',
       '03HC01_VC121', '03HC01_VC122', '03HC01_VC124', '03HC01_VC125',
       '03HC01_VC126', '03HC01_VC161', '03HC01_VC162', '03HC01_VC163',
       '03HC01_VC164', '03HC01_VC165', '03HC01_VC166', '03HC01_VC167',
       '03HC01_VC168', '03HC01_VC169', '03HC01_VC171', '03HC01_VC172',
       '03HC01_VC173', '03HC01_VC174', '03HC01_VC175', '03HC01_VC176',
       '03HC01_VC177', '03HC01_VC178', '03HC01_VC179', '03HC01_VC180',
       'GEO.id_x', 'GEO.display-label_x', '04HC01_VC08', '04HC01_VC09',
       '04HC01_VC50', '04HC01_VC69', '04HC01_VC70', '04HC01_VC106',
       '04HC01_VC108', '04HC01_VC128', '04HC01_VC146', '04HC01_VC155',
       '04HC01_VC191', 'GEO.id_y', 'GEO.display-label_y', '05HC01_VC23'],
      dtype='object')

In [28]:
columns = ['02HC01_VC21', '02HC01_VC22', '02HC01_VC52', '02HC01_VC53',
       '02HC01_VC54', '02HC01_VC55', '02HC01_VC56', '02HC01_VC57',
       '02HC01_VC58', '02HC01_VC95', '02HC01_VC96', '02HC01_VC216',
       '02HC01_VC217', '02HC01_VC218', '03HC01_VC12', '03HC01_VC36',
       '03HC01_VC85', '03HC01_VC86', '03HC01_VC90', '03HC01_VC92',
       '03HC01_VC94', '03HC01_VC98', '03HC01_VC100', '03HC01_VC114',
       '03HC01_VC115', '03HC01_VC118', '03HC01_VC121', '03HC01_VC122',
       '03HC01_VC124', '03HC01_VC125', '03HC01_VC126', '03HC01_VC161',
       '03HC01_VC162', '03HC01_VC163', '03HC01_VC164', '03HC01_VC165',
       '03HC01_VC166', '03HC01_VC167', '03HC01_VC168', '03HC01_VC169',
       '03HC01_VC171', '03HC01_VC172', '03HC01_VC173', '03HC01_VC174',
       '03HC01_VC175', '03HC01_VC176', '03HC01_VC177', '03HC01_VC178',
       '03HC01_VC179', '03HC01_VC180', '04HC01_VC08', '04HC01_VC09',
       '04HC01_VC50', '04HC01_VC69', '04HC01_VC70', '04HC01_VC106',
       '04HC01_VC108', '04HC01_VC128', '04HC01_VC146', '04HC01_VC155',
       '04HC01_VC191', '05HC01_VC23']

In [29]:
df[columns] = df[columns].apply(pd.to_numeric, errors='coerce')

In [30]:
# see column types
df.dtypes

Unnamed: 0               int64
zipcode                  int64
latitude               float64
longitude              float64
city                    object
state                   object
county                  object
fips                   float64
GEO.id_x                object
GEO.id2_x              float64
GEO.display-label_x     object
02HC01_VC03            float64
02HC01_VC04            float64
02HC01_VC05            float64
02HC01_VC06            float64
02HC01_VC07            float64
02HC01_VC08            float64
02HC01_VC09            float64
02HC01_VC10            float64
02HC01_VC11            float64
02HC01_VC12            float64
02HC01_VC13            float64
02HC01_VC14            float64
02HC01_VC17            float64
02HC01_VC18            float64
02HC01_VC21            float64
02HC01_VC22            float64
02HC01_VC26            float64
02HC01_VC27            float64
02HC01_VC28            float64
                        ...
05HC01_VC72            float64
05HC01_VC73            float64
05HC01_VC74            float64
05HC01_VC77            float64
05HC01_VC78            float64
05HC01_VC79            float64
05HC01_VC80            float64
05HC01_VC81            float64
05HC01_VC82            float64
05HC01_VC83            float64
05HC01_VC87            float64
05HC01_VC88            float64
05HC01_VC89            float64
05HC01_VC90            float64
05HC01_VC91            float64
05HC01_VC92            float64
05HC01_VC93            float64
05HC01_VC94            float64
05HC01_VC95            float64
05HC01_VC96            float64
05HC01_VC97            float64
05HC01_VC98            float64
05HC01_VC99            float64
05HC01_VC100           float64
05HC01_VC101           float64
05HC01_VC102           float64
05HC01_VC104           float64
05HC01_VC108           float64
05HC01_VC109           float64
05HC01_VC110           float64
Length: 536, dtype: object

In [31]:
df.select_dtypes(include=['object']).columns

Index(['city', 'state', 'county', 'GEO.id_x', 'GEO.display-label_x',
       'GEO.id_y', 'GEO.display-label_y', 'GEO.id_x', 'GEO.display-label_x',
       'GEO.id_y', 'GEO.display-label_y'],
      dtype='object')

In [32]:
# get info on data
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 57163 entries, 0 to 57162
Columns: 536 entries, Unnamed: 0 to 05HC01_VC110
dtypes: float64(523), int64(2), object(11)
memory usage: 234.2+ MB
None

In [33]:
# # DataFrame method to check for missing values in a column
# # The .all() method returns True if all values are True
# # if using it on a DataFrame, you need to chain another .all() 
# # method so that you return only one True or False value.
# assert pd.notnull(df['GEO.id_x']).all().all()
# assert pd.notnull(df['HC01_VC150']).all().all()
# assert (df.HC01_VC150 >=0).all().all()

In [34]:
df.tail(20)

,Unnamed: 0,zipcode,latitude,longitude,city,state,county,fips,GEO.id_x,GEO.id2_x,...,05HC01_VC97,05HC01_VC98,05HC01_VC99,05HC01_VC100,05HC01_VC101,05HC01_VC102,05HC01_VC104,05HC01_VC108,05HC01_VC109,05HC01_VC110
57143,57143,99832,58.331798,-135.181256,Pelican,AK,Skagway Hoonah Angoon,2105.0,8600000US99832,99832.0,...,0.0,0.0,0.0,19.0,0.0,19.0,126.0,90.0,38.0,52.0
57144,57144,99833,56.767056,-132.931950,Petersburg,AK,Wrangell Petersburg,2195.0,8600000US99833,99833.0,...,142.0,20.0,2.0,245.0,12.0,233.0,1759.0,2341.0,1289.0,1052.0
57145,57145,99835,57.080818,-135.318348,Sitka,AK,Sitka,2220.0,8600000US99835,99835.0,...,605.0,33.0,0.0,873.0,44.0,829.0,4100.0,6601.0,3350.0,3251.0
57146,57146,99836,56.535950,-132.827948,Port Alexander,AK,Wrangell Petersburg,2195.0,8600000US99836,99836.0,...,0.0,0.0,0.0,6.0,0.0,6.0,65.0,31.0,14.0,17.0
57147,57147,99840,59.456753,-135.314852,Skagway,AK,Skagway Hoonah Angoon,2230.0,8600000US99840,99840.0,...,76.0,0.0,2.0,45.0,4.0,41.0,639.0,823.0,470.0,353.0
57148,57148,99841,57.798249,-135.285061,Tenakee Springs,AK,Skagway Hoonah Angoon,2105.0,8600000US99841,99841.0,...,0.0,0.0,0.0,0.0,0.0,0.0,205.0,143.0,80.0,63.0
57149,57149,99850,58.383480,-134.197786,Juneau,AK,Juneau,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57150,57150,99901,55.400674,-131.674090,Ketchikan,AK,Ketchikan Gateway,2130.0,8600000US99901,99901.0,...,1049.0,10.0,74.0,1259.0,0.0,1259.0,6254.0,10184.0,5327.0,4857.0
57151,57151,99903,55.517921,-132.003244,Meyers Chuck,AK,Prince Wales Ketchikan,2275.0,8600000US99903,99903.0,...,0.0,0.0,0.0,0.0,0.0,0.0,23.0,16.0,8.0,8.0
57152,57152,99918,55.517921,-132.003244,Coffman Cove,AK,Prince Wales Ketchikan,2198.0,8600000US99918,99918.0,...,0.0,0.0,0.0,5.0,0.0,5.0,233.0,170.0,97.0,73.0
57153,57153,99919,55.126774,-131.580407,Thorne Bay,AK,Prince Wales Ketchikan,2198.0,8600000US99919,99919.0,...,0.0,2.0,0.0,28.0,0.0,28.0,526.0,540.0,298.0,242.0
57154,57154,99921,55.513301,-133.117022,Craig,AK,Prince Wales Ketchikan,2198.0,8600000US99921,99921.0,...,26.0,0.0,0.0,178.0,0.0,178.0,1026.0,1392.0,778.0,614.0
57155,57155,99922,55.208706,-132.825903,Hydaburg,AK,Prince Wales Ketchikan,2198.0,8600000US99922,99922.0,...,1.0,22.0,0.0,9.0,3.0,6.0,111.0,206.0,102.0,104.0
57156,57156,99923,55.517921,-132.003244,Hyder,AK,Prince Wales Ketchikan,2198.0,8600000US99923,99923.0,...,0.0,0.0,0.0,0.0,0.0,0.0,62.0,0.0,0.0,0.0
57157,57157,99925,55.554393,-133.090680,Klawock,AK,Prince Wales Ketchikan,2198.0,8600000US99925,99925.0,...,0.0,13.0,0.0,78.0,0.0,78.0,401.0,699.0,396.0,303.0
57158,57158,99926,55.094325,-131.566827,Metlakatla,AK,Prince Wales Ketchikan,2198.0,8600000US99926,99926.0,...,18.0,1.0,0.0,200.0,0.0,200.0,521.0,1152.0,604.0,548.0
57159,57159,99927,55.517921,-132.003244,Point Baker,AK,Prince Wales Ketchikan,2198.0,8600000US99927,99927.0,...,0.0,0.0,7.0,0.0,0.0,0.0,121.0,81.0,44.0,37.0
57160,57160,99928,55.395359,-131.675370,Ward Cove,AK,Ketchikan Gateway,2130.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57161,57161,99929,56.449893,-132.364407,Wrangell,AK,Wrangell Petersburg,2275.0,8600000US99929,99929.0,...,83.0,0.0,2.0,223.0,0.0,223.0,1378.0,1848.0,921.0,927.0
57162,57162,99950,55.542007,-131.432682,Ketchikan,AK,Ketchikan Gateway,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
# # save df and meta to csv
# df.to_csv("./data/df1.csv")
# meta.to_csv("./data/meta1.csv")

In [36]:
df.head()

,Unnamed: 0,zipcode,latitude,longitude,city,state,county,fips,GEO.id_x,GEO.id2_x,...,05HC01_VC97,05HC01_VC98,05HC01_VC99,05HC01_VC100,05HC01_VC101,05HC01_VC102,05HC01_VC104,05HC01_VC108,05HC01_VC109,05HC01_VC110
0,0,501,40.922326,-72.637078,Holtsville,NY,Suffolk,36103.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,544,40.922326,-72.637078,Holtsville,NY,Suffolk,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,601,18.165273,-66.722583,Adjuntas,PR,Adjuntas,72001.0,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,7290.0,13646.0,6573.0,7073.0
3,3,601,18.165273,-66.722583,Adjuntas,PR,Adjuntas,72113.0,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,7290.0,13646.0,6573.0,7073.0
4,4,602,18.393103,-67.180953,Aguada,PR,Aguada,72003.0,NaN,NaN,...,59.0,0.0,31.0,960.0,32.0,928.0,17312.0,31048.0,15156.0,15892.0

In [37]:
meta.head()

,v,detail,type,cat0,cat1,cat2,vname,level1,level2,level3
0,HC01_VC03,Estimate; HOUSEHOLDS BY TYPE - Total households,Estimate,Social,HOUSEHOLDS BY TYPE,Total households,02HC01_VC03,Total households,NaN,NaN
4,HC01_VC04,Estimate; HOUSEHOLDS BY TYPE - Total household...,Estimate,Social,HOUSEHOLDS BY TYPE,Total households - Family households (families),02HC01_VC04,Total households,Family households (families),NaN
8,HC01_VC05,Estimate; HOUSEHOLDS BY TYPE - Total household...,Estimate,Social,HOUSEHOLDS BY TYPE,Total households - Family households (families...,02HC01_VC05,Total households,Family households (families) - With own childr...,With own children of the householder under 18 ...
12,HC01_VC06,Estimate; HOUSEHOLDS BY TYPE - Total household...,Estimate,Social,HOUSEHOLDS BY TYPE,Total households - Family households (families...,02HC01_VC06,Total households,Family households (families) - Married-couple ...,Married-couple family
16,HC01_VC07,Estimate; HOUSEHOLDS BY TYPE - Total household...,Estimate,Social,HOUSEHOLDS BY TYPE,Total households - Family households (families...,02HC01_VC07,Total households,Family households (families) - Married-couple ...,Married-couple family - With own children of t...

In [38]:
social = meta[meta['cat0'] == 'Social']
total_household = social[social['level1'] == 'Total households']

In [39]:
total_household

,v,detail,type,cat0,cat1,cat2,vname,level1,level2,level3
0,HC01_VC03,Estimate; HOUSEHOLDS BY TYPE - Total households,Estimate,Social,HOUSEHOLDS BY TYPE,Total households,02HC01_VC03,Total households,NaN,NaN
4,HC01_VC04,Estimate; HOUSEHOLDS BY TYPE - Total household...,Estimate,Social,HOUSEHOLDS BY TYPE,Total households - Family households (families),02HC01_VC04,Total households,Family households (families),NaN
8,HC01_VC05,Estimate; HOUSEHOLDS BY TYPE - Total household...,Estimate,Social,HOUSEHOLDS BY TYPE,Total households - Family households (families...,02HC01_VC05,Total households,Family households (families) - With own childr...,With own children of the householder under 18 ...
12,HC01_VC06,Estimate; HOUSEHOLDS BY TYPE - Total household...,Estimate,Social,HOUSEHOLDS BY TYPE,Total households - Family households (families...,02HC01_VC06,Total households,Family households (families) - Married-couple ...,Married-couple family
16,HC01_VC07,Estimate; HOUSEHOLDS BY TYPE - Total household...,Estimate,Social,HOUSEHOLDS BY TYPE,Total households - Family households (families...,02HC01_VC07,Total households,Family households (families) - Married-couple ...,Married-couple family - With own children of t...
20,HC01_VC08,Estimate; HOUSEHOLDS BY TYPE - Total household...,Estimate,Social,HOUSEHOLDS BY TYPE,Total households - Family households (families...,02HC01_VC08,Total households,Family households (families) - Male householde...,"Male householder, no wife present, family"
24,HC01_VC09,Estimate; HOUSEHOLDS BY TYPE - Total household...,Estimate,Social,HOUSEHOLDS BY TYPE,Total households - Family households (families...,02HC01_VC09,Total households,Family households (families) - Male householde...,"Male householder, no wife present, family - Wi..."
28,HC01_VC10,Estimate; HOUSEHOLDS BY TYPE - Total household...,Estimate,Social,HOUSEHOLDS BY TYPE,Total households - Family households (families...,02HC01_VC10,Total households,Family households (families) - Female househol...,"Female householder, no husband present, family"
32,HC01_VC11,Estimate; HOUSEHOLDS BY TYPE - Total household...,Estimate,Social,HOUSEHOLDS BY TYPE,Total households - Family households (families...,02HC01_VC11,Total households,Family households (families) - Female househol...,"Female householder, no husband present, family..."
36,HC01_VC12,Estimate; HOUSEHOLDS BY TYPE - Total household...,Estimate,Social,HOUSEHOLDS BY TYPE,Total households - Nonfamily households,02HC01_VC12,Total households,Nonfamily households,NaN
40,HC01_VC13,Estimate; HOUSEHOLDS BY TYPE - Total household...,Estimate,Social,HOUSEHOLDS BY TYPE,Total households - Nonfamily households - Hous...,02HC01_VC13,Total households,Nonfamily households - Householder living alone,Householder living alone
44,HC01_VC14,Estimate; HOUSEHOLDS BY TYPE - Total household...,Estimate,Social,HOUSEHOLDS BY TYPE,Total households - Nonfamily households - Hous...,02HC01_VC14,Total households,Nonfamily households - Householder living alon...,Householder living alone - 65 years and over
596,HC01_VC216,Estimate; COMPUTERS AND INTERNET USE - Total h...,Estimate,Social,COMPUTERS AND INTERNET USE,Total households,02HC01_VC216,Total households,NaN,NaN
600,HC01_VC217,Estimate; COMPUTERS AND INTERNET USE - Total h...,Estimate,Social,COMPUTERS AND INTERNET USE,Total households - With a computer,02HC01_VC217,Total households,With a computer,NaN
604,HC01_VC218,Estimate; COMPUTERS AND INTERNET USE - Total h...,Estimate,Social,COMPUTERS AND INTERNET USE,Total households - With a broadband Internet s...,02HC01_VC218,Total households,With a broadband Internet subscription,NaN

In [40]:
total_household.shape

(15, 10)

In [41]:
total_household = total_household[: -3]

In [42]:
total_household

,v,detail,type,cat0,cat1,cat2,vname,level1,level2,level3
0,HC01_VC03,Estimate; HOUSEHOLDS BY TYPE - Total households,Estimate,Social,HOUSEHOLDS BY TYPE,Total households,02HC01_VC03,Total households,NaN,NaN
4,HC01_VC04,Estimate; HOUSEHOLDS BY TYPE - Total household...,Estimate,Social,HOUSEHOLDS BY TYPE,Total households - Family households (families),02HC01_VC04,Total households,Family households (families),NaN
8,HC01_VC05,Estimate; HOUSEHOLDS BY TYPE - Total household...,Estimate,Social,HOUSEHOLDS BY TYPE,Total households - Family households (families...,02HC01_VC05,Total households,Family households (families) - With own childr...,With own children of the householder under 18 ...
12,HC01_VC06,Estimate; HOUSEHOLDS BY TYPE - Total household...,Estimate,Social,HOUSEHOLDS BY TYPE,Total households - Family households (families...,02HC01_VC06,Total households,Family households (families) - Married-couple ...,Married-couple family
16,HC01_VC07,Estimate; HOUSEHOLDS BY TYPE - Total household...,Estimate,Social,HOUSEHOLDS BY TYPE,Total households - Family households (families...,02HC01_VC07,Total households,Family households (families) - Married-couple ...,Married-couple family - With own children of t...
20,HC01_VC08,Estimate; HOUSEHOLDS BY TYPE - Total household...,Estimate,Social,HOUSEHOLDS BY TYPE,Total households - Family households (families...,02HC01_VC08,Total households,Family households (families) - Male householde...,"Male householder, no wife present, family"
24,HC01_VC09,Estimate; HOUSEHOLDS BY TYPE - Total household...,Estimate,Social,HOUSEHOLDS BY TYPE,Total households - Family households (families...,02HC01_VC09,Total households,Family households (families) - Male householde...,"Male householder, no wife present, family - Wi..."
28,HC01_VC10,Estimate; HOUSEHOLDS BY TYPE - Total household...,Estimate,Social,HOUSEHOLDS BY TYPE,Total households - Family households (families...,02HC01_VC10,Total households,Family households (families) - Female househol...,"Female householder, no husband present, family"
32,HC01_VC11,Estimate; HOUSEHOLDS BY TYPE - Total household...,Estimate,Social,HOUSEHOLDS BY TYPE,Total households - Family households (families...,02HC01_VC11,Total households,Family households (families) - Female househol...,"Female householder, no husband present, family..."
36,HC01_VC12,Estimate; HOUSEHOLDS BY TYPE - Total household...,Estimate,Social,HOUSEHOLDS BY TYPE,Total households - Nonfamily households,02HC01_VC12,Total households,Nonfamily households,NaN
40,HC01_VC13,Estimate; HOUSEHOLDS BY TYPE - Total household...,Estimate,Social,HOUSEHOLDS BY TYPE,Total households - Nonfamily households - Hous...,02HC01_VC13,Total households,Nonfamily households - Householder living alone,Householder living alone
44,HC01_VC14,Estimate; HOUSEHOLDS BY TYPE - Total household...,Estimate,Social,HOUSEHOLDS BY TYPE,Total households - Nonfamily households - Hous...,02HC01_VC14,Total households,Nonfamily households - Householder living alon...,Householder living alone - 65 years and over

In [43]:
household_list = total_household["vname"].tolist()

In [44]:
household_list

['02HC01_VC03',
 '02HC01_VC04',
 '02HC01_VC05',
 '02HC01_VC06',
 '02HC01_VC07',
 '02HC01_VC08',
 '02HC01_VC09',
 '02HC01_VC10',
 '02HC01_VC11',
 '02HC01_VC12',
 '02HC01_VC13',
 '02HC01_VC14']

In [45]:
new_cols = ['zipcode', 'latitude', 'longitude', 'city', 'state', 'county', 'fips', '02HC01_VC03', '02HC01_VC04', '02HC01_VC05']

In [46]:
df_th = df[new_cols].fillna(0)
df_th = df_th[(df_th != 0).all(1)]

In [47]:
df_th.head()

,zipcode,latitude,longitude,city,state,county,fips,02HC01_VC03,02HC01_VC04,02HC01_VC05
356,1001,42.140549,-72.788661,Agawam,MA,Hampden,25013.0,7190.0,3943.0,1406.0
357,1002,42.367092,-72.464571,Amherst,MA,Hampshire,25011.0,9561.0,4626.0,2068.0
358,1002,42.367092,-72.464571,Amherst,MA,Hampshire,25015.0,9561.0,4626.0,2068.0
361,1005,42.329160,-72.139465,Barre,MA,Worcester,25027.0,1840.0,1150.0,462.0
362,1007,42.280267,-72.402056,Belchertown,MA,Hampshire,25015.0,5611.0,4010.0,1882.0

In [48]:
# save df to csv
df_th.to_csv("./data/df_th.csv")

In [49]:
df_th.iloc[0:20]

,zipcode,latitude,longitude,city,state,county,fips,02HC01_VC03,02HC01_VC04,02HC01_VC05
356,1001,42.140549,-72.788661,Agawam,MA,Hampden,25013.0,7190.0,3943.0,1406.0
357,1002,42.367092,-72.464571,Amherst,MA,Hampshire,25011.0,9561.0,4626.0,2068.0
358,1002,42.367092,-72.464571,Amherst,MA,Hampshire,25015.0,9561.0,4626.0,2068.0
361,1005,42.329160,-72.139465,Barre,MA,Worcester,25027.0,1840.0,1150.0,462.0
362,1007,42.280267,-72.402056,Belchertown,MA,Hampshire,25015.0,5611.0,4010.0,1882.0
363,1008,42.177833,-72.958359,Blandford,MA,Hampden,25003.0,530.0,366.0,108.0
364,1008,42.177833,-72.958359,Blandford,MA,Hampden,25013.0,530.0,366.0,108.0
365,1009,42.206092,-72.340486,Bondsville,MA,Hampden,25013.0,106.0,80.0,12.0
366,1010,42.108585,-72.204480,Brimfield,MA,Hampden,25013.0,1494.0,1026.0,369.0
367,1010,42.108585,-72.204480,Brimfield,MA,Hampden,25027.0,1494.0,1026.0,369.0
368,1011,42.294259,-72.952776,Chester,MA,Hampden,25003.0,552.0,416.0,137.0
369,1011,42.294259,-72.952776,Chester,MA,Hampden,25013.0,552.0,416.0,137.0
370,1011,42.294259,-72.952776,Chester,MA,Hampden,25015.0,552.0,416.0,137.0
371,1012,42.392274,-72.825607,Chesterfield,MA,Hampshire,25015.0,243.0,155.0,58.0
372,1013,42.161492,-72.667341,Chicopee,MA,Hampden,25013.0,9302.0,5531.0,2767.0
374,1020,42.177492,-72.562563,Chicopee,MA,Hampden,25013.0,12482.0,8058.0,2752.0
376,1022,42.193392,-72.554360,Chicopee,MA,Hampden,25013.0,1204.0,383.0,86.0
377,1026,42.428617,-72.909841,Cummington,MA,Hampshire,25003.0,455.0,276.0,114.0
378,1026,42.428617,-72.909841,Cummington,MA,Hampshire,25015.0,455.0,276.0,114.0
379,1027,42.368303,-72.768839,Easthampton,MA,Hampshire,25015.0,7883.0,4594.0,1616.0

In [50]:
household_list1 = total_household["cat2"].tolist()
household_list1

['Total households',
 'Total households - Family households (families)',
 'Total households - Family households (families) - With own children of the householder under 18 years',
 'Total households - Family households (families) - Married-couple family',
 'Total households - Family households (families) - Married-couple family - With own children of the householder under 18 years',
 'Total households - Family households (families) - Male householder, no wife present, family',
 'Total households - Family households (families) - Male householder, no wife present, family - With own children of the householder under 18 years',
 'Total households - Family households (families) - Female householder, no husband present, family',
 'Total households - Family households (families) - Female householder, no husband present, family - With own children of the householder under 18 years',
 'Total households - Nonfamily households',
 'Total households - Nonfamily households - Householder living alone',
 'Total households - Nonfamily households - Householder living alone - 65 years and over']