In [39]:
import plotly.offline as py
import pandas as pd

In [80]:
df = pd.read_csv('../data/df_th.csv', index_col=0).groupby(["state"], as_index=False).sum()
#df=pd.read_csv('../data/df_th.csv', index_col=0, na_values=['(NA)']).fillna(0)

In [81]:
df.head()

,state,zipcode,latitude,longitude,fips,02HC01_VC03,02HC01_VC04,02HC01_VC05
0,AK,20733808,12787.643276,-31925.558762,446232.0,248087.0,164986.0,78683.0
1,AL,34231538,31363.743787,-82556.172498,1019188.0,2885881.0,1940447.0,775793.0
2,AR,61956294,30096.409643,-79169.076397,4351657.0,1886949.0,1259684.0,515929.0
3,AZ,30321536,11894.403463,-39476.652264,1420828.0,2233482.0,1436011.0,591701.0
4,CA,167995282,65302.205317,-214963.048779,10860479.0,13929258.0,9619506.0,4407316.0

In [98]:
df.columns

Index(['state', 'zipcode', 'latitude', 'longitude', 'fips', '02HC01_VC03',
       '02HC01_VC04', '02HC01_VC05', 'text'],
      dtype='object')

In [99]:
new_cols = ['state', '02HC01_VC03', '02HC01_VC04', '02HC01_VC05']

In [100]:
df = df[new_cols]

In [102]:
df.dtypes

state          object
02HC01_VC03    object
02HC01_VC04    object
02HC01_VC05    object
dtype: object

In [118]:
for col in df.columns:
    df[col] = df[col].astype(str)

scl = [[0.0, 'rgb(242,240,247)'],[0.2, 'rgb(218,218,235)'],[0.4, 'rgb(188,189,220)'],\
             [0.6, 'rgb(158,154,200)'],[0.8, 'rgb(117,107,177)'],[1.0, 'rgb(84,39,143)']]

df['text'] = df['state'] + '<br>' +\
    'Total Household '+df['02HC01_VC03']+' Family households (families) '+df['02HC01_VC04']+'<br>'+\
    'Family households (families) - With own children of the householder under 18 years '+df['02HC01_VC05']

In [119]:
data = [ dict(
        type='choropleth',
        colorscale = scl,
        autocolorscale = False,
        locations = df['state'],
        z = df['02HC01_VC03'].astype(float),
        locationmode = 'USA-states',
        text = df['text'],
        marker = dict(
            line = dict (
                color = 'rgb(255,255,255)',
                width = 2
            ) ),
        colorbar = dict(
            title = "Total Household")
        ) ]

In [120]:
layout = dict(
        title = 'Total Household<br>(Hover for breakdown)',
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showlakes = True,
            lakecolor = 'rgb(255, 255, 255)'),
             )

In [121]:
fig = dict( data=data, layout=layout )

In [122]:
py.plot(fig, filename='total-household-cloropleth-map.html' )

'file:///Users/niko/Projects/city-dash/notebooks/total-household-cloropleth-map.html'