# SELECTED SOCIAL CHARACTERISTICS IN THE UNITED STATES
## ACS_16_5YR_DP02_with_ann.csv

In [14]:
#import modules
import pandas as pd
import numpy as np
import sqlite3 as sql
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
#Sql database to store data once it's ready
#con = sql.connect("acs02.db")

In [3]:
#open csv with pandas
df02 = pd.read_csv("./data/ACS_16_5YR_DP02_with_ann.csv", low_memory=False)

In [4]:
# Print the info of data frame
print(df02.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32990 entries, 0 to 32989
Columns: 611 entries, GEO.id to HC04_VC218
dtypes: object(611)
memory usage: 153.8+ MB
None

In [5]:
## Print the shape of df
print(df02.shape)

(32990, 611)

In [6]:
# Print the columns of df
print(df02.columns)

Index(['GEO.id', 'GEO.id2', 'GEO.display-label', 'HC01_VC03', 'HC02_VC03',
       'HC03_VC03', 'HC04_VC03', 'HC01_VC04', 'HC02_VC04', 'HC03_VC04',
       ...
       'HC03_VC216', 'HC04_VC216', 'HC01_VC217', 'HC02_VC217', 'HC03_VC217',
       'HC04_VC217', 'HC01_VC218', 'HC02_VC218', 'HC03_VC218', 'HC04_VC218'],
      dtype='object', length=611)

In [7]:
# Print the head of df
df02.head()

,GEO.id,GEO.id2,GEO.display-label,HC01_VC03,HC02_VC03,HC03_VC03,HC04_VC03,HC01_VC04,HC02_VC04,HC03_VC04,...,HC03_VC216,HC04_VC216,HC01_VC217,HC02_VC217,HC03_VC217,HC04_VC217,HC01_VC218,HC02_VC218,HC03_VC218,HC04_VC218
0,Id,Id2,Geography,Estimate; HOUSEHOLDS BY TYPE - Total households,Margin of Error; HOUSEHOLDS BY TYPE - Total ho...,Percent; HOUSEHOLDS BY TYPE - Total households,Percent Margin of Error; HOUSEHOLDS BY TYPE - ...,Estimate; HOUSEHOLDS BY TYPE - Total household...,Margin of Error; HOUSEHOLDS BY TYPE - Total ho...,Percent; HOUSEHOLDS BY TYPE - Total households...,...,Percent; COMPUTERS AND INTERNET USE - Total ho...,Percent Margin of Error; COMPUTERS AND INTERNE...,Estimate; COMPUTERS AND INTERNET USE - Total h...,Margin of Error; COMPUTERS AND INTERNET USE - ...,Percent; COMPUTERS AND INTERNET USE - Total ho...,Percent Margin of Error; COMPUTERS AND INTERNE...,Estimate; COMPUTERS AND INTERNET USE - Total h...,Margin of Error; COMPUTERS AND INTERNET USE - ...,Percent; COMPUTERS AND INTERNET USE - Total ho...,Percent Margin of Error; COMPUTERS AND INTERNE...
1,8600000US01001,01001,ZCTA5 01001,7190,255,7190,(X),3943,290,54.8,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
2,8600000US01002,01002,ZCTA5 01002,9561,447,9561,(X),4626,267,48.4,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
3,8600000US01003,01003,ZCTA5 01003,26,21,26,(X),0,19,0.0,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
4,8600000US01005,01005,ZCTA5 01005,1840,187,1840,(X),1150,144,62.5,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)

In [8]:
# Print the tail of df
df02.tail()

,GEO.id,GEO.id2,GEO.display-label,HC01_VC03,HC02_VC03,HC03_VC03,HC04_VC03,HC01_VC04,HC02_VC04,HC03_VC04,...,HC03_VC216,HC04_VC216,HC01_VC217,HC02_VC217,HC03_VC217,HC04_VC217,HC01_VC218,HC02_VC218,HC03_VC218,HC04_VC218
32985,8600000US99923,99923,ZCTA5 99923,0,9,0,(X),0,9,-,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
32986,8600000US99925,99925,ZCTA5 99925,337,33,337,(X),189,32,56.1,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
32987,8600000US99926,99926,ZCTA5 99926,449,38,449,(X),352,39,78.4,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
32988,8600000US99927,99927,ZCTA5 99927,58,31,58,(X),0,9,0.0,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
32989,8600000US99929,99929,ZCTA5 99929,1037,63,1037,(X),652,52,62.9,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)

In [9]:
# use pandas to get the summary statistics
df02.describe()

,GEO.id,GEO.id2,GEO.display-label,HC01_VC03,HC02_VC03,HC03_VC03,HC04_VC03,HC01_VC04,HC02_VC04,HC03_VC04,...,HC03_VC216,HC04_VC216,HC01_VC217,HC02_VC217,HC03_VC217,HC04_VC217,HC01_VC218,HC02_VC218,HC03_VC218,HC04_VC218
count,32990,32990,32990,32990,32990,32990,32990,32990,32990,32990,...,32990,32990,32990,32990,32990,32990,32990,32990,32990,32990
unique,32990,32990,32990,10446,692,10446,2,8527,691,849,...,2,2,2,2,2,2,2,2,2,2
top,8600000US52576,11724,ZCTA5 67836,0,12,0,(X),0,12,-,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
freq,1,1,1,577,285,577,32989,746,368,577,...,32989,32989,32989,32989,32989,32989,32989,32989,32989,32989

In [10]:
# Print types of data
print(df02.dtypes)

GEO.id               object
GEO.id2              object
GEO.display-label    object
HC01_VC03            object
HC02_VC03            object
HC03_VC03            object
HC04_VC03            object
HC01_VC04            object
HC02_VC04            object
HC03_VC04            object
HC04_VC04            object
HC01_VC05            object
HC02_VC05            object
HC03_VC05            object
HC04_VC05            object
HC01_VC06            object
HC02_VC06            object
HC03_VC06            object
HC04_VC06            object
HC01_VC07            object
HC02_VC07            object
HC03_VC07            object
HC04_VC07            object
HC01_VC08            object
HC02_VC08            object
HC03_VC08            object
HC04_VC08            object
HC01_VC09            object
HC02_VC09            object
HC03_VC09            object
                      ...
HC03_VC208           object
HC04_VC208           object
HC01_VC209           object
HC02_VC209           object
HC03_VC209           object
HC04_VC209           object
HC01_VC210           object
HC02_VC210           object
HC03_VC210           object
HC04_VC210           object
HC01_VC211           object
HC02_VC211           object
HC03_VC211           object
HC04_VC211           object
HC01_VC212           object
HC02_VC212           object
HC03_VC212           object
HC04_VC212           object
HC01_VC216           object
HC02_VC216           object
HC03_VC216           object
HC04_VC216           object
HC01_VC217           object
HC02_VC217           object
HC03_VC217           object
HC04_VC217           object
HC01_VC218           object
HC02_VC218           object
HC03_VC218           object
HC04_VC218           object
Length: 611, dtype: object

In [ ]:
# delete first row
#df02 = df02.drop(df02.index[[0]])

Need to convert df to numeric

In [13]:
# convert df to numeric, coercing
#pd.to_numeric(df02, errors='ignore')

In [ ]:
#convert zipcode column of ACS_16_5YR_DP02_with_ann.csv to int so we can merge it with zipcode file
df02['GEO.id2'] = df02['GEO.id2'].astype('int')

In [ ]:
#open metadata file csv with pandas
df02meta = pd.read_csv("./data/ACS_16_5YR_DP02_metadata.csv", low_memory=False)
df02meta.head()

In [ ]:
ls data/

In [ ]:
#open zipcode csv with pandas
zipcode = pd.read_csv("./data/zipcode_states.csv")

In [ ]:
# Print the head, type and info of zipcode df
print(zipcode.dtypes)
print(zipcode.info())
zipcode.head()

In [ ]:
#merge df02 with zipcodes
df002 = pd.merge(left=df02, right=zipcode, left_on='GEO.id2', right_on='zipcode')

In [ ]:
df002.head()